@font-face {
    font-family: 'Karla-Bold'; 
    src: url(../fonts/Karla-Bold.ttf); 
}
@font-face {
    font-family: 'Karla-BoldItalic'; 
    src: url(../fonts/Karla-BoldItalic.ttf); 
}
@font-face {
    font-family: 'Karla-Italic'; 
    src: url(../fonts/Karla-Italic.ttf); 
}
@font-face {
    font-family: 'Karla-Regular'; 
    src: url(../fonts/Karla-Regular.ttf); 
}
body {
    background-color: #cccccc;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    font-family: 'Karla-Regular', sans-serif;
    margin: 0;
}
.flex-container {
    display: flex;
    display: -webkit-flex; /* Safari */
    max-height: 100%;
    width: 100%;
}
.chat_window {
    background-image: url('../img/background_chat_1.png');
    width: 375px;
    height: 667px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    -webkit-flex-direction: column; /* Safari */
}
.chat_header_container {
    font-size: 17px;
    color: #ffffff;
    margin-top: 8%;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row;
    -webkit-flex-direction: row; /* Safari */
    justify-content: center;
    -webkit-justify-content: center; /* Safari */
    
}
.js-back_icon {
    flex-grow: 2;
}
.js-back_icon img {
    width: 7px;
    margin-left: 20px;
}
.chat_header {
    text-align: center;
    flex-grow: 18;
}
.empty_col {
    flex-grow: 2;
    margin-right: 20px;
}
.time_block {
    margin: 41px 0 24px 0;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: center;
    -webkit-justify-content: center; /* Safari */
    align-items: center;
    -webkit-align-items: center; /* Safari */
}
.clock_icon {
    width: 17.5px;
    margin-right: 13px;
}
.time_text {
    text-transform: uppercase;
    font-family: 'Karla-Bold', sans-serif;
    font-size: 11px;
    color: #ffffff;
    /* padding: 5px; */
    letter-spacing: 0.7px;
}
.js-message_container {
    overflow-y: scroll;
    height: 458px;
    z-index: 2;
}
.js-message_container::-webkit-scrollbar { 
    width: 0; 
}
 
.js-message_container { 
    -ms-overflow-style: none; 
}

.js-message_container { 
    overflow: -moz-scrollbars-none; 
}
.receive_message {
    float: left;
    margin-left: 65px;
    background-color: #ffffff;
    max-width: 285px;
    margin-bottom: 20px;
}
.js-sent_message {
    float: right;
    background-color: #ffffff;
    margin-right: 65px; 
    max-width: 285px;
    margin-bottom: 20px;
    word-wrap: break-word;
    box-sizing: border-box;
}
.js-text_message {
    font-size: 15px;
    padding: 0 25px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.js-message_data {
    font-size: 10px;
    padding: 0 25px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: right;
}
.js-author_message {
    padding-right: 10px;
}
.js-time_message {
    color: #ad807d;
}
.sent_message .time_message  {
    text-align: right;
}
.js-new_message {
    margin-left: 63px;
    font-size: 15px;
    color: #ffffff;
    resize: none;
    height: 30px;
    background-color: #00000000;
    border: 0;
    overflow: hidden;
    z-index: 2;
}
.js-new_message:focus {
    outline : none; 
}

.js-send_icon {
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: -13px;
    width: 60px;
    z-index: 1;
}


textarea::-webkit-input-placeholder {
    font-family: 'Karla-Regular', sans-serif;
    color: #ffffff;
} 
textarea::-moz-placeholder {
    font-family: 'Karla-Regular', sans-serif;
    color: #ffffff;
}
textarea:-moz-placeholder {
    font-family: 'Karla-Regular', sans-serif;
    color: #ffffff;
}
textarea:-ms-input-placeholder {
    font-family: 'Karla-Regular', sans-serif;
    color: #ffffff;
}



.login_window {
    background-image: url('../img/background_login_1.png');
    width: 375px;
    height: 667px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    -webkit-flex-direction: column; /* Safari */
}
h1 {
    font-size: 100px;
    padding-top: 60px;
    margin: 0;
    margin-left: -8px;
    letter-spacing: -5px;
    color: #ffffff;
    font-family: 'Karla-Bold', sans-serif;
    position: relative;
}
.chat_icon {
    width: 100px; 
    margin-left: 140px;
    margin-top: -30px;
}
.main {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto; /* Safari */

}
.background_form {
    background-color: #ffffff;      
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto; /* Safari */
    margin: 0 25px;
    margin-bottom: 70px;
}
.container_form {   
    width: 100%;
    height: 100%;
}
.form_footer {
    background-color: #00a0ff;
    width: 100%;
    height: 60px;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: flex-end;
    -webkit-justify-content: flex-end; /* Safari */
}
.form_content {
    margin: 20px;
    padding: 10px 20px;
    height: 100%;
}
.form_header {
    font-family: 'Karla-Bold', sans-serif;
    font-size: 10px;
    color: #ad807d;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.js-login_input_field {
    width: 100%;
    outline: none;
    border: 0;
    font-size: 12px;
    letter-spacing: 1px;
    border-bottom: 2px solid #00000020;
    padding-bottom: 12px;
    padding-top: 2px;
}
.password_header {
    margin-top: 30px;
}
.password_input_field {
    width: 100%;
    outline: none;
    border: 0;
    font-size: 21px;
    letter-spacing: 2px;
    border-bottom: 2px solid #00000020;
    padding-bottom: 6px;

}
.js-start_button {
    font-family: 'Karla-Bold', sans-serif;
    text-align: right;
    padding-right: 0;
    font-size: 13px;
    margin-right: 40px;
    color: #ffffff;
    text-decoration: none;  
    background: #ffffff00;
    border: 0;
}
